.App {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  color: #fff;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  color: #fff;
}

.landing-page h1 {
  margin-top: 185px;
}

.landing-page h2 {
  margin: 35px;
}

span {
  transition: background-color 170ms ease-in-out;
}

a {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  font-style: normal;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  cursor: pointer;
}

a:hover {
  background-color: #fff;
  color: black;
}
