.App {
  text-align: center;
}

h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  color: #fff;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  color: #fff;
}

.landing-page h1 {
  margin-top: 185px;
}

.landing-page h2 {
  margin: 35px;
}

span {
  transition: background-color 170ms ease-in-out;
}

a {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  font-style: normal;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  cursor: pointer;
}

a:hover, input[type="submit"]:hover {
  background-color: #fff;
  color: black;
}

img {
  cursor: pointer;
}

p {
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  color: #fff;
}

form {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

form h1 {
  font-size: 40px;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 20px;
}

input[type="submit"] {
  width: 120px;
  height: 45px;
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  padding: 10px;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .14em;
  line-height: 1em;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 2px;
}

select {
  width: 160px;
  height: 50px;
  font-size: 20px;
}

#x-icon {
  float: right;
  margin-right: 32%;
  cursor: pointer;
}

@media (max-width: 900px) {
  #x-icon {
    margin-right: 60px;
  }
}
